.main-page-container{
    background-color: #36393f;
    display: flex;
    color:whitesmoke;
    flex-direction: column;
    width:12rem;
    position: fixed;
    height:100vh;
    margin-top:-0.5rem;
    margin-bottom:-1rem;
    margin-left:-1rem;
}

.main-page-container a{
    color: whitesmoke;
    text-decoration: none;
}
.server-list{
    margin-top:1rem;
    margin-left:1.5rem;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.channel-list-container{
    background-color: #36393f;
    display: flex;
    flex-direction: row;
    color:whitesmoke;
    width:85%;
    position: fixed;
    height:110%;
    margin-top:-1rem;
    margin-bottom:-1rem;
    margin-left:13rem;
}

.channel-list-container a{
    color: whitesmoke;
    text-decoration: none;
}

.channel-list{
    margin-top: 1.5rem;
    width:21%;
}

.messages-whole-container{
    background-color: #36393f;
    display: flex;
    color:whitesmoke;
    flex-direction: column;

    padding-left: 2rem;
    height: 100%;
    width:80%;

}

.messages-container{
    overflow-x:clip;
    overflow-y:scroll;
    height: 70%;
}

.single-message-container{
    padding-bottom: 1rem;
    width: 100%;

}

.message-form-container{
    background-color: #36393f;
    display: flex;
    flex-direction: row;

    padding-top:3rem;
    height:8%;
    width:80%;

}



.main-empty-container{
    background-color: #36393f;
    color:whitesmoke;
    height:100vh;
    width:100vw;
    z-index: 2;
    margin-top: -3rem;
}

.main-empty-container h3{
    margin-left: 15rem;
    margin-top:3rem;
    background-color: #36393f;
    padding-top:1rem;
}

html{
    background-color: #36393f;
}

.channel-item-link[disabled]{
    cursor: not-allowed;
    pointer-events: none;
    color: antiquewhite;
}

.profile-container{
    /* align-self: center; */
    margin-top: 95vh;
    position:absolute;
    margin-left: 2rem;

}

.profile-dropdown{
    bottom: 3rem;
    position: fixed;
    list-style-type:none;
    margin-left: -2rem;
}
